.container {
  display: flex;
  margin-bottom: 15px;
}

.info {
  flex: 1;
  text-align: left;
}
.container h1 {
  margin-bottom: 0;
}

.container h2 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: var(--dark-gray-color);
}

.container a {
  text-decoration: none;
}
